* {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
h1, h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}
body {
    background-image: url("../images/wavecut_@2X.png");
}
.nav-wrapper {
    background: #ffffff;
    border: solid;
    border-color: #cccccc;
    padding: 39.5px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 20;
}
.nav-title {
    background: #63a8a4;
    color: white;
    width: 200px;
    position: absolute;
    top: 0;
    margin-left: 273px;
    text-align: center;
}
.nav-links {
    color: #777777;
    position: absolute;
    right: 0;
    top: 15px;
    margin-right: 23%;
    text-align: center;
}
li {
    display: inline;
}
li:not(:first-child):before {
    content: "|";
    padding: 11px;
}
.main-wrapper {
    border-color: #dddddd;
    border: solid;
    border-width: 1px;
    padding: 39.5px;
    background: #ffffff;
    width: 960px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
h2 {
    color: #63a8a4;
    font-size: 30px;
}
hr {
    border: 1px solid #b3b3b3;
}
#alexpic {
    float: left;
    margin-right: 25px;
    margin-bottom: 5px;
    height: 25%;
    width: 25%;
    border: solid;
    border-color: #666666;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
p {
    line-height: 2;
}
.footer-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    left: 0;
}
#footer-line {
    background: #63a8a4;
    padding: 5px;
    margin: 0;
    border: #63a8a4;
    width: 100%;
}
#copyright {
    background: #666666;
    padding: 25px;
    margin: auto;
    text-align: center;
    color: #b3b3b3;
    font-size: 19px;
}
.inputfield {
    width: 100%;
    height: 20px;
}
textarea {
    height: 2em;
    width: 86em;
}
#messagearea {
    height: 260px;
}
#submitbtn {
    background: #63a8a4;
    color: white;
    padding: 10px;
    width: 100px;
    font-size: 15px;
}
.form {
    color: #777777
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
.row::after {
    content: "";
    clear: both;
    display: table;
  }
img {
    width: 75%;
    height: 75%;
}
.container {
    position: relative;
    text-align: center;
    color: white;
    right: 45px;
    margin-bottom: 25px;
  }
.centerbottom {
    position: relative;
    background: #63a8a4;
    padding: 10px;
    width: 68.75%;
    bottom: 60px;
    text-align: center;
    margin: auto;
    font-weight: 100;
}

/* Media Quiries */

/* 980 */

@media screen and (max-width: 980px) {
    
    /* Nav Bar */

    .nav-title {
        margin: 0;
    }
    .nav-links {
        margin-right: 2%;
    }
    .nav-wrapper {
        border: solid #cccccc 3px;
        width: 895px;
    }

    /* Main Content */

    .main-wrapper {
        width: 560px;
        height: 400px;
        margin: left;
        margin-left: 37px;
        padding: 7px;
    }
    p {
        font-size: 8px;
    }

    /* Portfolio-Specific */

    #portfolio-wrapper {
        height: 665px;
    }
    .centerbottom {
        position: relative;
        right: 0px;
        bottom: 62px;
        width: 89%;
    }
    .container {
        margin: 0;
        right: 0;
        text-align: left;
    }
    .portpic {
        width: 100%;
    }
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }

    /* Contact Page Specific*/

    #contact-wrapper {
        padding: 20px;
    }

    textarea {
        height: 2em;
        width: 50em;
    }

    #messagearea {
        height: 10em;
        width: 50em;
    }
    #submitbtn {
        position: relative;
        bottom: 15px;
    }
}





/* 768 */

@media screen and (max-width: 768px) {
        /* Nav Bar */

    .nav-title {
        margin: 0;
        left: 20px;
    }
    .nav-links {
        margin-right: 5%;
    }
    .nav-wrapper {
        border: solid #cccccc 3px;
        width: 683px;
    }

    /* Main Content */

    .main-wrapper {
        width: 700px;
        height: 400px;
        margin: left;
        padding: 7px;
        margin: auto;
        margin-top: 100px;
    }
    p {
        font-size: 8px;
    }

    /* Portfolio-Specific */


    #portfolio-wrapper {
        height: 665px;
        width: 600px;
    }
    .centerbottom {
        position: relative;
        right: 0px;
        bottom: 62px;
        width: 89%;
    }
    .container {
        margin: 0;
        text-align: left;
    }
    .portpic {
        width: 100%;
    }
    .column {
        margin-left: 10%;
        margin-top: 1%;
        margin-bottom: -4%;
    }
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }

    /* Contact Page Specific*/

    #contact-wrapper {
        padding: 20px;
    }

    textarea {
        height: 2em;
        width: 63em;
    }

    #messagearea {
        height: 10em;
        width: 63em;
    }
    #submitbtn {
        position: relative;
        bottom: 15px;
    }
}

/* 640 */


@media screen and (max-width: 640px) {
    
    /* Nav Links */
    .nav-wrapper {
        border: 0;
        border-bottom: solid #cccccc 3px;
        width: 683px;
    }
    .nav-title {
        width: 100%;
        margin: 0;
        left: -75px;
    }
    .nav-links {
        top: 29px;
        position: relative;
        margin-top: 31px;
        margin-right: 186px;
    }
    .main-wrapper {
        width: 600px;
        height: 400px;
        margin: left;
        padding: 7px;
        margin: auto;
        margin-top: 185px;
    }

    /* Contact Page Specific */
    #contact-wrapper {
        padding: 20px;
        width: 550px;
    }
    textarea {
        height: 2em;
        width: 49em;
    }

    #messagearea {
        height: 10em;
        width: 49em;
    }
    
    /* Portfolio-Specific */


    #portfolio-wrapper {
        height: 585px;
        width: 500px;
    }
    .centerbottom {
        position: relative;
        right: 0px;
        bottom: 62px;
        width: 88%;
    }
    .container {
        margin: 0;
        text-align: left;
    }
    .portpic {
        width: 100%;
    }
    .column {
        margin-left: 10%;
        margin-top: 1%;
        margin-bottom: -4%;
    }
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }
}